<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Define the Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %highlight{[%level]} [%logger{36}]: %msg%n" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Link the appender to the Root Logger -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>